@model IEnumerable<OrdersApplication.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wastage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wastage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderNo })
        </td>
    </tr>
}

</table>
